{% extends "base.html" %}
{% block title %}Prediction History{% endblock %}

{% block content %}
  <h1>Wood Information</h1>

  <form method="POST" action="{{ url_for('views_blueprint.woods_info') }}">
    <div class="form-group">
      <input type="text" name="search" class="form-control" placeholder="Search wood name">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <div class="container mt-4">
    <div class="row">
      {% for wood in woods %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img src="{{ url_for('static', filename='images/tree_icon.png') }}" class="card-img-top" alt="Tree Image">
            <div class="card-body">
              <h5 class="card-title"><a href="{{ url_for('views_blueprint.wood_detail', wood_id=wood.wood_id) }}">{{ wood.wood_name }}</a></h5>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
