{% extends "base.html" %}
{% block title %}Tree Information{% endblock %}

{% block content %}
  <h1>Tree Information</h1>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Attribute</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>ชื่อ</td>
          <td>{{ wood_data['ชื่อ'] }}</td>
        </tr>
        <tr>
          <td>ชื่อวิทยาศาสตร์</td>
          <td>{{ wood_data['ชื่อวิทยาศาสตร์'] }}</td>
        </tr>
        <tr>
          <td>ชื่อสามัญ</td>
          <td>{{ wood_data['ชื่อสามัญ'] }}</td>
        </tr>
        <tr>
          <td>ชื่อพื้นเมือง</td>
          <td>{{ wood_data['ชื่อพื้นเมือง'] }}</td>
        </tr>
        <tr>
          <td>วงศ์</td>
          <td>{{ wood_data['วงศ์'] }}</td>
        </tr>
        <tr>
          <td>ต้น</td>
          <td>{{ wood_data['ต้น'] }}</td>
        </tr>
        <tr>
          <td>เปลือก</td>
          <td>{{ wood_data['เปลือก'] }}</td>
        </tr>
        <tr>
          <td>ใบ</td>
          <td>{{ wood_data['ใบ'] }}</td>
        </tr>
        <tr>
          <td>ดอก</td>
          <td>{{ wood_data['ดอก'] }}</td>
        </tr>
        <tr>
          <td>ผลและเมล็ด</td>
          <td>{{ wood_data['ผลและเมล็ด'] }}</td>
        </tr>
        <tr>
          <td>โครงสร้างของเนื้อไม้เมื่อตัดทางด้านขวาง (cross section)</td>
          <td>{{ wood_data['โครงสร้างของเนื้อไม้เมื่อตัดทางด้านขวาง (cross section)'] }}</td>
        </tr>
        <tr>
          <td>Tree Image</td>
          <td><img src="{{ url_for('static', filename='images/tree_icon.png') }}" class="card-img-top" alt="Tree Image"></td>
        </tr>
        <tr>
          <td>Cross Section Image</td>
          <td><img src="{{ url_for('static', filename='data/' + wood_data['รูปโครงสร้างของเนื้อไม้เมื่อตัดทางด้านขวาง (cross section)']) }}" class="card-img-top" alt="Cross Section Image"></td>
        </tr>
        <tr>
          <td>แหล่งอ้างอิง</td>
          <td>
            <ul>
              {% for source in wood_data['แหล่งอ้างอิง'] %}
                <li><a href="{{ source }}">{{ source }}</a></li>
              {% endfor %}
            </ul>
          </td>
        </tr>
    </tbody>
  </table>
{% endblock %}


